body {
  font-family: Arial;
  /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
  margin: 0;
  padding: 0;
  background: #fff;
}

.index {
  display: flex;
}

/* Left Side */
.LeftSide {
  background: url('../img/IMG_20191231_091626.jpg');
  background-size: cover;
  height: 100vh;
  width: 50vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5rem;
}

.LeftSide h1 {
  padding-top: 2rem;
}

.LeftSide .headline {
  font-size: 1rem;
  font-weight: 600;
  max-width: 70%;
}

.LeftSide .headline ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  padding-right: 5rem;
}

.index .LeftSide .headline a {
  color:  white;
  text-decoration: none;
  margin-bottom: 1.25em;
  font-weight: 700;
  padding: 0px 10px;
}

.index .LeftSide .headline a:hover {
   text-decoration: underline; // changed from text:decoration:none
}

.index .LeftSide .footer {
  font-size: 1.7rem;
  font-weight: 600;
  max-width: 70%;
  position: relative;
  padding-bottom: 2rem;
}

.index .LeftSide .footer:before {
  content: '';
  position: relative;
  display: block;
  background: #fff;
  height: 2px;
  width: 10%;
  top: -20px;
}

/* Right Side */
.index .content {
  overflow-y: scroll;
  width: 50vw;
  height: 100vh;
  padding-left: 2rem;
  padding-right: 5rem;
}

.index .content h1 {
  padding-top: 2rem;
  padding-bottom: 3rem;
}


/* FROM GLITCH */

.index .content .profile > div {
  flex: 1; /*grow*/
  font-size: 1vw;

}

.index .content .Photo{
  /*text-align: center;*/
  font-size: 1vw;
  text-align: center;

  /*border: 1px solid green;*/

}

a {
  color:  black;
  text-decoration: none;
  margin-bottom: 1.25em;
  font-weight: 700;
}

a:hover {
   text-decoration: underline; // changed from text:decoration:none
}

.Text{
  font-size: 1vw;
  text-align: justify;

}

.container {
  display: flex;
/*  width: 40vw;
  height: 100vh;*/
/*  width: 20vw;
  height: 80vh;*/

}

.content .container .flex-inline-container {
  display: inline-flex;
}


.content .container .flex-inline-container .Food{
  text-align: center;
  /*border: 1px solid green;*/
  font-size: 1vw;  
  grid-gap: 4px;

}

.content .container .flex-inline-container .Tech{
  text-align: center;
  /*border: 1px solid green;*/
  font-size: 1vw;
  grid-gap: 4px;
}




/* Style all font awesome icons */
.fa {
  padding: 40px;
  font-size: 4vw;
  width: 4vw;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.5;
}


#img1 {
  width: 78.5%;
  height: inherit;
  object-fit: cover;
  object-positon: center center;
}

.index .content .container .Food #img2 {
  /*width: 100%;*/
  height: inherit;
  object-fit: cover;
  object-positon: center center;
}

.index .content .container .Tech #img3 {
  /*width: 150%;*/
  height: inherit;
  object-fit: cover;
  object-positon: center center;
}



.links{
    display: inline-block;
    /*text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: transform .4s ease-in-out;
    font-weight: 700;*/
    /*font-size: 13px;*/
}

fa-github{
  background: #007bb5;
  color: white;
  transform: translate(-50%,-50%) rotate(0deg);
  transition: transform .4s ease-in-out;
}

fa-linkedin {
    background: #007bb5;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: transform .4s ease-in-out;
    font-weight: 700;
    font-size: 13px;
}

fa-instagram {
  background: #125688;
  color: white;
}

/* Twitter */
fa-twitter {
  background: #55ACEE;
  color: white;
}


/* Responsive */

@media only screen and (max-width: 1025px) {
  .index {
    flex-direction: column;
  }

  .index .illustration,
  .index .content {
    width: 100vw;
    padding-right: 0;
  }

  .index .content {
    padding-top: 3rem;
  }

  .index .content .items {
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .index .illustration {
    height: auto;
    display: unset;
    text-align: center;
    padding-left: 0;
  }

  .index .illustration .headline {
    font-size: 1rem;
    
  }

  .index .content {
    padding: 0;
    text-align: center;
  }

  .index .content .items {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
