body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: #fff;
}

.index {
  display: flex;
}

/* Left Side */
.LeftSide {
  background: url('../img/IMG_20191231_091626.jpg');
  background-size: cover;
  height: 100vh;
  width: 50vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5rem;
}

.LeftSide h1 {
  padding-top: 2rem;
}

.LeftSide .headline {
  font-size: 1rem;
  font-weight: 600;
  max-width: 70%;
}

.LeftSide .headline ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  padding-right: 5rem;
}

.index .LeftSide .headline a {
  color:  white;
  text-decoration: none;
  margin-bottom: 1.25em;
  font-weight: 700;
  padding: 0px 10px;
}

.index .LeftSide .headline a:hover {
 text-decoration: underline; // changed from text:decoration:none
}

.index .LeftSide .footer {
  font-size: 1.7rem;
  font-weight: 600;
  max-width: 70%;
  position: relative;
  padding-bottom: 2rem;
}

.index .LeftSide .footer:before {
  content: '';
  position: relative;
  display: block;
  background: #fff;
  height: 2px;
  width: 10%;
  top: -20px;
}

/* Right Side */
.index .content {
  overflow-y: scroll;
  width: 50vw;
  height: 100vh;
  padding-left: 2rem;
  padding-right: 5rem;
}

.index .content h1 {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

/* FROM GLITCH */
.index .content .profile > div {
  flex: 1; /*grow*/
  font-size: 1vw;
}

.index .content .Photo{
  /*text-align: center;*/
  font-size: 1vw;
  text-align: center;
}

a {
  color:  black;
  text-decoration: none;
  margin-bottom: 1.25em;
  font-weight: 700;
}

a:hover {
 text-decoration: underline; 
}

.Text{
  font-size: 1vw;
  text-align: justify;
}

.container {
  display: flex;
}

.content .container .flex-inline-container {
  display: inline-flex;
}

.content .container .flex-inline-container .Food{
  text-align: center;
  font-size: 1vw;  
  grid-gap: 4px;
}

.content .container .flex-inline-container .Tech{
  text-align: center;
  /*border: 1px solid green;*/
  font-size: 1vw;
  grid-gap: 4px;
}




#img1 {
  width: 78.5%;
  height: inherit;
  object-fit: cover;
  object-positon: center center;
}

.index .content .container .Food #img2 {
  /*width: 100%;*/
  height: inherit;
  object-fit: cover;
  object-positon: center center;
}

.index .content .container .Tech #img3 {
  /*width: 150%;*/
  height: inherit;
  object-fit: cover;
  object-positon: center center;
}


.button {
    border-radius: 5px;
    border: 1px solid black;
    padding: 1em 0.5em;
    display: inline-block;
    font-size: 1.5em;
    font-style: italic;
    margin: 0 1em;
    margin-bottom: 0.5em;
    min-width: 7em;
    transition: all .25s ease;
}
.button:hover {background-color: white}

.button:active {
  background-color: white;
  box-shadow: 0 5px white;
  transform: translateY(4px);
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 4vw;
  width: 4vw;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.5;
}

.links{
  display: inline-block;
  align-items: center;
  }

  fa-github{
    background: #007bb5;
    color: white;
  }

  fa-linkedin {
    background: #007bb5;
    color: white;
  }

  fa-instagram {
    background: #125688;
    color: white;
  }

  fa-twitter {
    background: #55ACEE;
    color: white;
  }


  /* Responsive */
  @media only screen and (max-width: 1025px) {
    .index {
      flex-direction: column;
    }

    .index .LeftSide,
    .index .content {
      width: 100vw;
      padding-right: 0;
    }

    .index .content {
      padding-top: 3rem;
    }
  }

  @media only screen and (max-width: 425px) {
    .index .LeftSide {
      height: auto;
      display: unset;
      text-align: center;
      padding-left: 0;
    }

    .index .LeftSide .headline {
      font-size: 1rem;

    }

    .index .content .Text{
      font-size: 1vw;
    }

    .index .content {
      padding: 0;
      text-align: center;
    }

  }
